/* ---------- Top Navbar ---------- */
.top-nav{
    background-color:white;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.top-nav .nav-link{
    color:black !important;
    font-size:15px;
    padding:12px 15px;
}

.top-nav .nav-link:hover{
    background-color:#04AA6D;
}

.logo{
    font-weight:bold;
    font-size:22px;
    color:black;
    /* gradient color */
    background: linear-gradient(90deg, #ff9a3c, #ff4d9d, #7b2cff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    display: flex;
    align-items: center;
    gap: 8px;

     /* background:linear-gradient(90deg,#ff9a3c,#ff4d9d,#7b2cff);
    -webkit-background-clip:text;
    color:transparent; */
}
.logo img{
height:40px;
width:auto;
object-fit:contain;
vertical-align:middle;
}
/* button gradient css */
.btn-search {
    font-size: 16px;
    padding: 8px 16px;
    border: none;
    color: white;
    background: linear-gradient(90deg, #ff9a3c, #ff4d9d, #7b2cff);
    border-radius: 4px;
    cursor: pointer;
}

/* ---------- Scroll Subject Navbar ---------- */
.subject-navbar{
    background:#282A35;
    position:relative;
    position: sticky;
    top: 56px;
    z-index: 999;
}

.subject-container{
    display:flex;
    overflow-x:auto;
    scroll-behavior:smooth;
    white-space:nowrap;
    padding:0 40px;
}

.subject-container::-webkit-scrollbar{
    display:none;
}

.subject-link{
    color:white;
    padding:14px 18px;
    text-decoration:none;
    font-size:15px;
    flex:0 0 auto;
}

.subject-link:hover{
    background:#04AA6D;
}

.scroll-btn{
    position:absolute;
    top:0;
    bottom:0;
    width:40px;
    border:none;
    background:#282A35;
    color:white;
    font-size:22px;
    cursor:pointer;
}

.left-btn{ left:0; }
.right-btn{ right:0; }

.main-layout
{
    height: 85vh;
    display: flex;
}
.sideber{
    background: linear-gradient(180deg, #cd44b8, #7a42da, #7b2cff); /* Gradient color */
    width: 250px;        /* Sidebar width */
    padding: 10px;       /* Inner space */
    overflow-y: auto;    /* Scroll if content is more */
    color: white;        /* Text color */
}

.sideber a{
    color: black;
    display: block;
    padding:8px;
    text-decoration: none;
}
.sideber a:hover{
    background: linear-gradient(90deg, #ff9a3c, #ff4d9d, #7b2cff); /* Same gradient */
    color: white;   /* Text color */
}

.dropdown-btn
{
    width: 100%;
    border: none;
    background-color: lightgray;
    padding: 8px;
    text-align: left;
    
}
.dropdown-btn:hover
{
     background: linear-gradient(90deg, #ff9a3c, #ff4d9d, #7b2cff); /* Same gradient */
    color: white;
}
.dropdown-container
{
    display: none;
    padding-left: 10px;
    background-color: silver;
}

.content
{
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}
.section{
    display: none;
}
.section.active{
    display: block;
}


/* ---------- Footer ---------- */
.footer{
    background:#282A35;
    color:white;
    padding:60px 40px 30px;
    font-size:14px;
}

.footer h5{
    font-size:16px;
    margin-bottom:15px;
    font-weight:600;
}

.footer a{
    display:block;
    color:#ddd;
    text-decoration:none;
    margin-bottom:6px;
}

.footer a:hover{
    color:#04AA6D;
}

.footer-top-links{
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
    margin-bottom:40px;
}

.footer-top-links a{
    color:#fff;
    font-weight:600;
    margin-right:20px;
}

.footer-social{
    text-align:center;
    margin-top:30px;
}

.footer-social a{
    display:inline-block;
    margin:0 8px;
    font-size:18px;
    color:white;
}

.footer-bottom{
    text-align:center;
    margin-top:20px;
    font-size:13px;
    color:#ccc;
}